!!!
%html
%head
  %title Hotels
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      = link_to "Hotel", root_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "New Hotel", new_hotel_path
        %li= link_to "New Criterion", new_criterion_path

  .container
    .row
      - Criterion.all.each do |cr|
        %button.btn.btn-default
          = link_to ("#{cr.name} <span class=\"badge\" style=\"background-color:##{cr.color};\">.</span>").html_safe, nil, {:style=>"display: inline-block;"}
      %hr
      = yield
